<ul rn-carousel xrn-carousel-indicator rn-carousel-index="slideIndex" >
	<li ng-repeat="article in items">
		<div class="category" ng-if="article.isFirst">
			<div class="articleItem" ng-repeat="category in categories" ng-class="{selArticle: category.id==catId}">
				<div class="articleItemContainer" >
					<a href="#{{category.id}}" class="bigCategory" >{{category.title}}</a>
				</div>
				<hr width="100%" />
			</div>
			<div class="copyright">© 2014 EYRIE</div>
		</div>

		<div class="category" ng-if="article.isSecond">
			<div class="ca">
				<div class="articleItem articleItem2" ng-repeat="category in article.articles" data-id="{{category.id}}">
					<a href="#/{{catId}}/{{category.id}}" ><img ng-src="{{category.icon}}" align="left" width="100" height="70" border="0"></a>
					<div class="articleItemContainer" >
						<a href="#/{{catId}}/{{category.id}}" >{{category.title}}</a>
						<div class="artDate">Publikováno {{category.date_pub | datumPred}}</div>
					</div>
					<hr width="100%" />
				</div>
<!-- 				
				<div>asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br /></div>
				<div>asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br />asdfasdfa<br /></div>
 -->				
				<div class="copyright">© 2014 EYRIE</div>
				        	<br /><br /><br />&nbsp;
				
			</div>
		</div>

		<div class="clanek" ng-if="article.isArticle">
			<div class="cl">
				<img ng-src="{{article.image}}" width="100%" class="artImg" ng-if="article.image"/>
				<div ng-bind-html="article.txt" class="divArticle text"></div>
	        	<br /><br /><br />&nbsp;
			</div>
		</div>
	</li>
</ul>

